<div class="bg">
    <div class="form-bg parent">
        <div class="child">
            <div nz-col class="company-signup-heading">
                <h1 class="blue-txt">Company Signup</h1>
            </div>
            <form class="company-signup-form" [formGroup] = "validateForm" (ngSubmit) = "submitForm()">
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid Email!">
                        <input nz-input placeholder="E-mail" formControlName="email" id="email">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid Password!">
                        <input nz-input type="password" placeholder="Password" formControlName="password" id="password">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid Password!">
                        <input nz-input type="password" placeholder="Confirm Password" formControlName="checkpassword" id="checkpassword">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid Name!">
                        <input nz-input placeholder="Name" formControlName="name" id="name">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid Address!">
                        <input nz-input placeholder="Address" formControlName="address" id="address">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid Phone!">
                        <input nz-input placeholder="Phone" formControlName="phone" id="phone">
                    </nz-form-control>
                </nz-form-item>
                <button nz-button class="login-form-button login-form-margin blue-btn" [nzType]="'primary'">
                    Register
                </button>
                Or <a routerLink="/login">Login Now!</a>
            </form>
        </div>
    </div>
</div>