.bg{
    background-color: #8080801f;
    padding: 3rem;
    height: -webkit-fill-available;
}

.parent{
    width: 25rem;
    background-color: white;
    padding: 3rem;
    margin: auto;
    border-radius: 5px;
}

.child{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}