.bg{
    padding: 3rem;
    height: -webkit-fill-available;
}

.parent{
    width: 25rem;
    padding: 3rem;
    margin: auto;
    border-radius: 5px;
}

.child{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login-form{
    width: 100%;
}

.login-form-button{
    width: 100%;
    margin-bottom: 10px;
}

.ant-input{
    border-radius: 5px;
}