.bg{
    padding: 3rem;
}

.child{
    width: 50rem;
    padding: 3rem;
    background-color: var(--light-pink-color);
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ad-detail{
    width: 55%;
}

.profile{
    max-width: 250px;
    max-height: 160px;
    margin: auto;
}